.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Selecciona las nuevas fotos";
  display: flex;
  background: #070707;
  border: 1px solid white;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px rgb(61, 58, 58);
  justify-content: center;
}
.custom-file-input:hover::before {
  border-color: white;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
